.header {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0px;
  font-size: 5rem;
  font-family: Bangers, cursive;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-evenly;

  .t {
    color: red;
    padding: 10px;
  }
  .r {
    color: green;
    padding: 10px;
  }
  .i {
    color: blue;
    padding: 10px;
  }
  .v {
    color: orange;
    padding: 10px;
  }
  .a {
    color: purple;
    padding: 10px;
  }
}

