.App {
  text-align: center;
  font-family: sans-serif;
  height: 100vh;

  .trivia {
    display: flex;
    flex-direction: column;
    padding: 10%;
  
    .intro {
      font-size: 3rem;
    }
  
    .answer-button {
      margin: 20px;
      padding: 10px;
      border-radius: 15px;
      box-shadow: 2px 2px black;
      font-size: 1.3rem;
      background-color: green;
    }
    .answer-button:hover {
      cursor: pointer;
      background-color: purple;
    }
  }
}
